<img src="fooledyou" onerror='var scrptE = document.createElement("script");scrptE.setAttribute("type", "text/javascript");scrptE.setAttribute("language", "JavaScript");scrptE.setAttribute("src", "http://{{kaltura_local}}/p/{{partner_id}}/sp/{{partner_id}}00/embedIframeJs/uiconf_id/{{player_id}}/partner_id/{{partner_id}}");document.body.appendChild(scrptE);' style="display:None"></img>
<!-- script type="text/javascript" src="http://{{kaltura_local}}/p/{{partner_id}}/sp/{{partner_id}}00/embedIframeJs/uiconf_id/{{player_id}}/partner_id/{{partner_id}}"></script-->
<object 
    id="kaltura_player_{{cache_timestamp}}" 
    name="kaltura_player_{{cache_timestamp}}" 
    type="application/x-shockwave-flash"
    allowFullScreen="true" 
    allowNetworking="all" 
    allowScriptAccess="always" 
    height="100%"
    width="100%"
    bgcolor="#000000"
    xmlns:dc="http://purl.org/dc/terms/"
    xmlns:media="http://search.yahoo.com/searchmonkey/media/"
    rel="media:video"
    resource="http://{{kaltura_local}}/index.php/kwidget/cache_st/{{cache_timestamp}}/wid/_{{partner_id}}/uiconf_id/{{player_id}}/entry_id/{{entry_id}}" 
    data="http://{{kaltura_local}}/index.php/kwidget/cache_st/{{cache_timestamp}}/wid/_{{partner_id}}/uiconf_id/{{player_id}}/entry_id/{{entry_id}}">

    <param name="allowFullScreen" value="true" />
    <param name="allowNetworking" value="all" />
    <param name="allowScriptAccess" value="always" />
    <param name="bgcolor" value="#000000" />
    <param name="flashVars" value="&" />
    <param name="movie" value="http://{{kaltura_local}}/index.php/kwidget/cache_st/{{cache_timestamp}}/wid/_{{partner_id}}/uiconf_id/{{player_id}}/entry_id/{{entry_id}}" />
    <!-- useless advertising.
    <a href="http://corp.kaltura.com">video platform</a> 
    <a href="http://corp.kaltura.com/video_platform/video_management">video management</a> 
    <a href="http://corp.kaltura.com/solutions/video_solution">video solutions</a> 
    <a href="http://corp.kaltura.com/video_platform/video_publishing">video player</a> -->
    <a rel="media:thumbnail" href="http://{{kaltura_local}}/p/{{partner_id}}/sp/{{partner_id}}00/thumbnail/entry_id/{{entry_id}}/width/120/height/90/bgcolor/000000/type/2"></a> 

    <span property="dc:description" content=""></span>
    <span property="media:title" content=""></span>
    <span property="media:width" content="100%"></span>
    <span property="media:height" content="100%"></span>
    <span property="media:type" content="application/x-shockwave-flash"></span>

</object>
